/* bagの中身のcss */
.main {
    width: 100%;
    background-color: #FFF5E4;
    position: relative;
}


.bagImage {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -20px;

}

.red {
    background-image: url('/images/bag-background.png');
}

.blue {
    background-image: url('/images/bag-background2.png');
}

.green {
    background-image: url('/images/bag-background3.png');
}

.addButtonWrap {
    position: absolute;
    right: 20px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addButton {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    border: 3px solid #9DDCDC;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.icon {
    margin: auto;
    width: 100%;
    height: 100%;
    color: #9DDCDC;
}

.detailForm {
    width: 340px;
    height: 260px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 0 0 10px;
    background: #FDFDFD;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.label {
    color: #5690B2;
    font-weight: bold;
}

.formRow {
    display: flex;
    align-items: center;
    gap: 15px;
}

.input {
    width: 240px;
    height: 30px;
    border: 1px solid #D8D8D8;
    border-radius: 6px;
}

.detailForm>div:nth-child(3) .input {
    width: 40px;
}

.quantityWrap {
    display: flex;
    align-items: center;
    gap: 6px;
}


.qtyBtn {
    width: 26px;
    height: 26px;
    border: 1px solid #D8D8D8;
    border-radius: 6px;

}

.qtyValue {
    text-align: center;
    width: 26px;
    height: 26px;
    border: 1px solid #D8D8D8;
    border-radius: 6px;
    color: #797979;

}

.imgBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #5690B2;
}

.select {
    width: 140px;
    height: 26px;
    border: 1px solid #D8D8D8;
    border-radius: 6px;
    color: #797979;
}


.stampWrap {
    display: flex;
    gap: 10px;

}

.stampItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #47C4FE;

}

.stampItem p {
    font-size: 12px;
}


.stampImg {
    width: 28px;
    height: 28px;
}