.main {
  width: 100%;
  background-color: #FFF5E4;
  padding-top: 20px;
  position: relative;
}


.shopBagWrap {
  width: 100%;
  height: 186px;
  padding-top: 10px;
  background-color: #F6FFF8;
  border-radius: 25px;

}

.shopBagWrap h1 {
  display: inline;
  font-size: 24px;
  color: #52C4E7;
  padding-left: 20px;
}

.shopBagWrap .date {
  width: 82px;
  height: 30px;
  color: #414141;
  margin-left: 65px;
  border-radius: 8px;
  border: 0.5px solid #D9D9D9;
  background-color: #F6FFF8;
  font-size: 16px;
}

.border {
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  background: #42BCFD;
}


.boxWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 5px;

}

.box {
  width: 70px;
  height: 70px;
  background: #ccc;
}



.shareBagWrap {
  background-image: url('/images/food-bag.png');
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding-bottom: 50px;

}

.shareBagWrap h2 {
  color: #52C4E7;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}


.shareBag {
  width: 240px;
  height: 240px;
  margin: 10px auto 0;
  background-color: rgba(255, 255, 255, 0.40);
  border-radius: 40px;
  box-shadow: 0.881px 2.644px 3.525px 0px rgba(0, 0, 0, 0.10);
}

.shareBagImage {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-left: 19px;
}

.addButtonWrap {
  position: absolute;
  bottom: calc(30px + 16px);
  right: 16px;

}

.addButton {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  background-color: #9DDCDC;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* .addButton:hover {
  transform: scale(1.05);
} */

.icon {
  margin: auto;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.bagSelector {
  position: absolute;
  bottom: calc(100% + 8px);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bagSelectorItem {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
  background: #fff;
  border-radius: 4px;
  padding: 6px;
}

.bagSelectorItemName {}

.bagSelectorItemImage {
  height: 100%;
  width: fit-content;
  object-fit: contain;
}