.addButtonWrap {
    position: absolute;
    right: 20px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addButton {
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    border: 3px solid #9DDCDC;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.icon {
    margin: auto;
    width: 100%;
    height: 100%;
    color: #9DDCDC;
}


.modalOverlay {
    position: fixed;
    /* 画面全体を覆う */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明の背景 */
    z-index: 1;
    /* ボタンなどより手前に */
}

.modalStyle {
    position: fixed;
    /* 固定配置にしてボタン下ではなく「画面上」に表示 */
    top: 20%;
    /* 画面上部から 20% 下がった位置に */
    left: 50%;
    /* 横中央 */
    transform: translateX(-50%);
    /* left:50% の中央寄せ調整 */
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 10;
    /* オーバーレイの上に */
}